<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.demo.faq.mapper.FaqImgMapper">

	<select id="getImgDetail" resultType="FaqImg" parameterType="int">
		select
			*
		from
			faq_img
		where
			faq_seq = #{faqSeq}
		and
			del_yn = 'N'
	</select>

	<update id="delete" parameterType="int">
		update
			faq_img
		set
			del_yn = 'Y'
		where
			img_seq = #{imgSeq}
	</update>

	<delete id="deleteByFaqSeq" parameterType="int">
		delete
		from
		faq_img
		where
			faq_seq = #{faqSeq}
	</delete>

	<insert id="insert" parameterType="FaqImg">
		insert	into
			faq_img
			(faq_seq, faq_img, del_yn)
			values
			(#{faqSeq}, #{faqImg}, 'N')
	</insert>
</mapper>