<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.demo.biz.faq.mapper.FaqMapper">

	<resultMap type="com.mybatis.demo.biz.faq.vo.Faq" id="getDetailMap" autoMapping="true">
		<id column="faq_seq" property="faqSeq" />
		<collection column="faq_seq" property="faqImgList" javaType="java.util.ArrayList"
		select="com.mybatis.demo.biz.faq.mapper.FaqImgMapper.getImgDetail"
		ofType="com.mybatis.demo.biz.faq.vo.FaqImg" autoMapping="true"/>
	</resultMap>

	<select id="getList" resultType="com.mybatis.demo.biz.faq.vo.Faq">
		select
			*, count(*) over() as totalCnt
		from
			faq
		where
			faq_del_yn = 'N'
		<choose>
			<when test="searchKeyWord != null and searchKeyWord">
				<if test="searchType == 'faqTitle'">
					AND faq_title like CONCAT('%',#{searchKeyWord},'%')
				</if>
				<if test="searchType == 'faqContent'">
					AND faq_Content like CONCAT('%',#{searchKeyWord},'%')
				</if>
				<if test="searchType == 'faqSeq'">
					AND faq_seq = #{searchKeyWord}
				</if>
			</when>
		</choose>
		ORDER BY faq_seq DESC
		<if test="startPage != null and startPage != '-10' ">
			LIMIT #{startPage} , #{recordsPerPage}
		</if>
	</select>

	<insert id="insert" parameterType="com.mybatis.demo.biz.faq.vo.Faq" useGeneratedKeys="true" keyProperty="faqSeq">
		insert into
		faq
		(faq_title, faq_content, faq_del_yn)
		values
		(#{faqTitle}, #{faqContent}, 'N')
	</insert>

	<update id="delete" parameterType="String">
		update
			faq
		set
			faq_del_yn = 'Y'
		where
			faq_seq = #{faqSeq}
	</update>

	<update id="update" parameterType="com.mybatis.demo.biz.faq.vo.Faq">
		update
			faq
		set
			faq_title = #{faqTitle}
			, faq_content = #{faqContent}
		where
			faq_seq = #{faqSeq}
	</update>

	<select id="getDetail" resultMap="getDetailMap" parameterType="int">
		select
			*
		from faq
		where faq_seq = #{faqSeq}
	</select>

	<select id="getImgDetail" resultType="com.mybatis.demo.biz.faq.vo.FaqImg">
		select
			*
		from faq_img
		where faq_seq = #{faqSeq}
		and del_yn = 'Y'
	</select>
</mapper>