<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.demo.faq.mapper.FaqMapper">

	<resultMap type="Faq" id="getDetailMap" autoMapping="true">
		<id column="faq_seq" property="faqSeq" />
		<collection column="faq_seq" property="faqImgList" javaType="java.util.ArrayList"
		select="com.mybatis.demo.faq.mapper.FaqImgMapper.getImgDetail"
		ofType="com.mybatis.demo.faq.domain.FaqImg" autoMapping="true"/>
	</resultMap>

	<select id="getList" resultType="Faq">
		select
			*
		from
			faq
		where
			faq_del_yn = 'N'
		<if test="searchType != null and searchBox != '' and searchType.equals('faqTitle')">
			AND faq_title like CONCAT('%',#{searchBox},'%')
		</if>
		<if test="searchType != null and searchBox != '' and searchType.equals('faqContent')">
			AND faq_Content like CONCAT('%',#{searchBox},'%')
		</if>
		<if test="searchType != null and searchBox != '' and searchType.equals('faqSeq')">
			AND faq_seq = #{searchBox}
		</if>
	</select>

	<insert id="insert" parameterType="Faq" useGeneratedKeys="true" keyProperty="faqSeq">
		insert into
		faq
		(faq_title, faq_content, faq_del_yn)
		values
		(#{faqTitle}, #{faqContent}, 'N')
	</insert>

	<update id="delete" parameterType="String">
		update
			faq
		set
			faq_del_yn = 'Y'
		where
			faq_seq = #{faqSeq}
	</update>

	<update id="update" parameterType="Faq">
		update
			faq
		set
			faq_title = #{faqTitle}
			, faq_content = #{faqContent}
		where
			faq_seq = #{faqSeq}
	</update>

	<select id="getDetail" resultMap="getDetailMap" parameterType="int">
		select
			*
		from faq
		where faq_seq = #{faqSeq}
	</select>

	<select id="getImgDetail" resultType="FaqImg">
		select
			*
		from faq_img
		where faq_seq = #{faqSeq}
		and del_yn = 'Y'
	</select>
</mapper>