<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>회원가입</title>
		<script>
			$.fn.serializeObject = function() {
			  var result = {}
			  var extend = function(i, element) {
			    var node = result[element.name]
			    if ("undefined" !== typeof node && node !== null) {
			      if ($.isArray(node)) {
			        node.push(element.value)
			      } else {
			        result[element.name] = [node, element.value]
			      }
			    } else {
			      result[element.name] = element.value
			    }
			  }

			  $.each(this.serializeArray(), extend)
			  return result
			}
			function join() {
				if($('#id').val() == '') {
					alert('id를 입력하세요');
					$('#id').focus();
					return;
				}

				if($('#password').val() == '') {
					alert('password를 입력하세요');
					$('#password').focus();
					return;
				}

				if($('#name').val() == '') {
					alert('name를 입력하세요');
					$('#name').focus();
					return;
				}

				if(confirm('입력한 정보로 가입 하시겠습니까?')) {
					$.ajax({
						url : '/user/signUp',
						type : 'post',
						contentType : 'application/json',
						data : JSON.stringify($('#joinFrm').serializeObject()),
						success : function(result) {
							console.log(result);
							alert(result.resultMsg);
							if(result.resultCode == '200') {
								location.href = '/';
							}
						},
						error : function(request, status) {
							alert(JSON.parse(request.responseText).reason);

							if(request.status == 400) {
								console.log('BAD REQUEST');
							}
						}
					})
				}
			}

			function cancel() {
				location.href = '/'
			}
		</script>
	</head>
	<body>
		<form id="joinFrm">
			<div align="center" style="margin:150px 0px">
				<h1>회원가입</h1>
				<table>
					<tr>
						<th>ID</th>
						<td><input type="text" name="id" id="id"></td>
					</tr>
					<tr>
						<th>PASSWORD</th>
						<td><input type="text" name="password" id="password"></td>
					</tr>
					<tr>
						<th>NAME</th>
						<td><input type="text" name="name" id="name"></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right">
							<button type="button" onclick="join()">가입</button>
							<button type="button" onclick="cancel()">취소</button>
						</td>
					</tr>
				</table>
			</div>
		</form>
	</body>
</html>