<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<h1>MyBatis DataSource</h1>
	<form id="faqFrm" action="/faqDetail">
		<input type="hidden" id="faqSeq" name="faqSeq" value="1">
	</form>
	<input type="button" onclick="detail()" value="상세보기">
</body>
<script>
	$(function(){
		
		$.ajax({
			url : '/faqImgList',
			type : 'get',
			datatype : 'json',
			data : {},
			success : function(res) {
				console.log('select collection');
				console.log(res);
			},
			
			error : function(request, status, error) {
				console.log('error');
			}
		})
		
		$.ajax({
			url : '/faqImgList2',
			type : 'get',
			datatype : 'json',
			data : {},
			success : function(res) {
				console.log('join collection');
				console.log(res)	
			},
			
			error : function(request, status, error) {
				console.log('error');
			}
		})
		
		$.ajax({
			url : '/getFaqOneImg',
			type : 'get',
			datatype : 'json',
			data : {},
			success : function(res) {
				console.log('select assciation');
				console.log(res);
			},
			
			error : function(request, status, error) {
				console.log('error');
			}
		})
		
		/* $.ajax({
			url : '/getAcFaqImgList',
			type : 'get',
			datatype : 'json',
			data : {},
			success : function(res) {
				console.log('join assciation');
				console.log(res);
			},
			
			error : function(request, status, error) {
				console.log('error');
			}
		}) */
	});
	
	function detail() {
		$('#faqSeq').val(1);
		$('#faqFrm').submit();
	}
</script>
</html>