<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<h1>MyBatis DataSource</h1>
	<form id="faqFrm">
		<input type="hidden" id="faqSeq" name="faqSeq" value="1">
		<input type="hidden" id="faqSeq" name="delYn" value="N">
	</form>
</body>
<script>
	$(function(){
		
		$.ajax({
			url : '/faqImgListBySelectCollection',
			type : 'get',
			datatype : 'json',
			data : {
				'faqSeq' : 1,
				'delYn' : 'N'
			},
			success : function(res) {
				console.log('select collection');
				console.log(res);
			},
			
			error : function(request, status, error) {
				console.log('error');
			}
		})
		
		$.ajax({
			url : '/faqImgListByJoinCollection',
			type : 'get',
			datatype : 'json',
			data : {},
			success : function(res) {
				console.log('join collection');
				console.log(res)	
			},
			
			error : function(request, status, error) {
				console.log('error');
			}
		})
		
		$.ajax({
			url : '/faqImgListByAssciation',
			type : 'get',
			datatype : 'json',
			data : {},
			success : function(res) {
				console.log('select assciation');
				console.log(res);
			},
			
			error : function(request, status, error) {
				console.log('error');
			}
		})
		
		$.ajax({
			url : '/faqImgListByJoinAssociation',
			type : 'get',
			datatype : 'json',
			data : {},
			success : function(res) {
				console.log('join assciation');
				console.log(res);
			},
			
			error : function(request, status, error) {
				console.log('error');
			}
		})
	});
	
</script>
</html>