<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div align="center"  th:object="${faqVo}">
			<table>
				<tr>
					<th colspan="2">
						<h1>FAQ상세보기</h1>
					</th>
				</tr>
				<tr>
					<th>게시글 번호</th>
					<td th:text="*{faqSeq}"></td>
				</tr>
				<tr>
					<th>제목</th>
					<td th:text="*{faqTitle}"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td th:text="*{faqContent}"></td>
				</tr>
				<tr>
					<th>등록일시</th>
					<td th:text="*{faqCreatedt.substring(0,10)}"></td>
				</tr>
				<tr>
					<th rowspan="6">첨부파일</th>
				</tr>
				<tr th:if="*{faqImgList != null && faqImgList.size() > 0}" th:each="faqImgList : *{faqImgList}">
					<td th:text="${faqImgList.faqImg}"></td>
				</tr>
			</table>
			<div align="right" style="width:400px;">
				<button th:onclick="'location.href=\''+@{/faq/updateFaqPage(faqSeq=*{faqSeq})} +'\';'">수정하기</button>
				<button type="button" onclick="javascript:history.back(-1);">뒤로가기</button>
			</div>
		</div>
	</body>
</html>