<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div align="center" th:object="${faqVo}">
			<table>
				<tr>
					<td colspan="2">
						<h1>FAQ상세보기</h1>
					</td>
				</tr>
				<tr>
					<td>게시글 번호</td>
					<td th:text="*{faqSeq}"></td>
				</tr>
				<tr>
					<td>제목</td>
					<td th:text="*{faqTitle}"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td th:text="*{faqContent}"></td>
				</tr>
				<tr>
					<td>등록일시</td>
					<td th:text="*{faqCreatedt}"></td>
				</tr>
				<tr>
					<td>
						<button th:onclick="'location.href=\''+@{/faq/faqUpdatePage(faqSeq=*{faqSeq})}+'\'">수정</button>
						<input type="button" onclick="javascript:history.back(-1);" value="뒤로가기">
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>