<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div align="center" th:object="${faqVo}">
			<table>
				<tr>
					<td colspan="2">
						<h1>FAQ상세보기</h1>
					</td>
				</tr>
				<tr>
					<td>게시글 번호</td>
					<td th:text="*{faqSeq}"></td>
				</tr>
				<tr>
					<td>제목</td>
					<td th:text="*{faqTitle}"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td th:text="*{faqContent}"></td>
				</tr>
				<tr>
					<td>등록일시</td>
					<td th:text="*{faqCreatedt}"></td>
				</tr>
				<tr>
					<td>
						<button th:onclick="'location.href=\''+@{/faq/faqUpdatePage(faqSeq=*{faqSeq})} +'\';'">수정</button>
						<input type="button" onclick="javascript:history.back(-1);" value="뒤로가기">
					</td>
				</tr>
			</table>
			
			<br>
			<table>
				<tr>
					<th>IMG순번</th>
					<th>FAQIMG</th>
					<th>버튼</th>
				</tr>
				<tr th:each="faqImgList : *{faqImgList}">
					<td th:text="${faqImgList.imgSeq}"></td>
					<td th:text="${faqImgList.faqImg}"></td>
					<td><input type="button" th:onclick="|faqDel('${faqImgList.imgSeq}','${faqImgList.faqSeq}')|" value="삭제"></td>
				</tr>
			</table>
		</div>
	</body>
	<script>
	function faqDel(imgSeq, faqSeq) {
		if(!confirm('삭제하시겠습니까?')) {
			return;
		}
		 
		$.ajax({
			url: '/faq/faqImgDel',
			data : {
				'imgSeq' : imgSeq,
				'faqSeq' : faqSeq
				},
			type : 'get',
			success : function(res) {
				alert('삭제되었습니다.');
				location.reload();
			},
			error : function(request, status, error) {
				alert('error발생');
			}
		});
	}
	</script>
</html>