<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>faq목록화면</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			$(function(){
				$.ajax({
					url : '/getFaqAllList',
					type : 'get',
					datatype : 'json',
					data : {},
					success : function(res) {
						
					},
					
					error : function(request, status, error) {
						console.log('error');
					}
				})
			});
			
			function faqWrite() {
				location.href = '/faqWrite';
			}
			 
			function deleteFaq() {
				if(confirm('삭제하시겠습니까?')) {
				 
					var checkbox = $("input:checkbox[name=faqSeq]:checked");
					
					if(checkbox.length == 0) {
						alert('삭제할 대상을 선택해주세요.');
						return;
					}
					
					$.ajax({
						url: '/faq/deleteFaq',
						data : $('#faqListFrm').serialize(),
						type : 'get',
						success : function(res) {
							alert('삭제되었습니다.');
							location.reload();
						},
						error : function(request, status, error) {
							alert('error발생');
						}
					});
				}
			}
			
		</script>
	</head>
	<body>
		<form id="faqListFrm">
			<div id="faqListDiv" align="center">
				<h1>Faq 리스트</h1>
				<table>
					<colgroup>
						<col width="40px">
						<col width="150px">
						<col width="150px">
						<col width="120px">
						<col width="50px">
					</colgroup>
					<thead>
						<tr>
							<th></th>
							<th>제목</th>
							<th>내용</th>
							<th>날짜</th>
							<th>버튼</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="faqList : ${faqList}">
							<td><input type="checkbox" name="faqSeq" th:value="${faqList.faqSeq}"></td>
							<td><a th:href="@{/faq/faqDetail(faqSeq=${faqList.faqSeq})}" th:text="${faqList.faqTitle}"></a></td>
							<td th:text="${faqList.faqContent}"></td>
							<td th:text="${faqList.faqCreatedt.substring(0,10)}"></td>
							<td><input type="button" th:onclick="'location.href=\''+@{/faq/updateFaqPage(faqSeq=${faqList.faqSeq})}+'\';'" value="수정">
							</td>
						</tr>
						<tr>
							<td colspan="5" align="right">
								<button type="button" onclick="deleteFaq()">삭제</button>
								<button onclick="faqWrite()">등록하기</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</body>
</html>