<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>faq목록화면</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="../js/lodash.min.js"></script>
		<script>
			$(function(){
				
				$.ajax({
					url : "getFaqList",
					type : "post",
					success : function(html) {
						$('#asyncBody').html(html);
					}
				});
			});
			
			
			function deleteFaq() {
				var checkbox = $("input:checkbox[name=faqSeq]:checked");
				
				if(checkbox.length == 0) {
					alert('삭제할 대상을 선택해주세요.');
					return;
				}
				if(confirm('삭제하시겠습니까?')) {
					$.ajax({
						url: '/faq/deleteFaq',
						data : $('#faqListFrm').serialize(),
						type : 'get',
						success : function(res) {
							alert('삭제되었습니다.');
							location.reload();
						},
						error : function(request, status, error) {
							alert('error발생');
						}
					});
				}
			}
			
			function faqWrite() {
				location.href = '/faqWrite';
			}
		</script>
	</head>
	<body>
		<form id="faqFrm">
			<div id="faqListDiv" align="center">
				<h1>Faq 리스트</h1>
				<table >
					<colgroup>
						<col width="40px">
						<col width="150px">
						<col width="150px">
						<col width="120px">
						<col width="50px">
					</colgroup>
					<thead> 
						<tr>
							<th></th>
							<th>제목</th>
							<th>내용</th>
							<th>날짜</th>
							<th>버튼</th>
						</tr>
					</thead>
					<tbody id="asyncBody">
					
					</tbody>
				</table>
			</div>
		</form>
	</body>
</html>