<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>faq목록화면</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
		<script>
			$(function(){
				fnSearch();
			});
			
			// 삭제
			function deleteFaq() {
				var checkbox = $("input:checkbox[name=faqSeq]:checked");
				
				if(checkbox.length == 0) {
					alert('삭제할 대상을 선택해주세요.');
					return;
				}
				if(confirm('삭제하시겠습니까?')) {
					$.ajax({
						url: '/faq/deleteList',
						data : $('#faqFrm').serialize(),
						type : 'post',
						success : function(res) {
							alert('삭제되었습니다.');
							location.reload();
						},
						error : function(request, status, error) {
							alert('error발생');
						}
					});
				}
			}
			
			// 등록페이지
			function faqWrite() {
				location.href = '/faq/add';
			}
			
			// 검색리스트
			function fnSearch() {
				$('#listBody').children().remove();
				
				$.ajax({
					url : "/faq/getList",
					data : $('#searchFrm').serialize(),
					type : "post",
					dataType : "json",
					success : function(res) {
						for(var i in res) {
							$('#faqListTmpl').tmpl([{faqSeq : res[i].faqSeq, faqSeq : res[i].faqSeq, faqTitle : res[i].faqTitle
								,faqContent : res[i].faqContent, faqCreatedt : res[i].faqCreatedt,faqSeq : res[i].faqSeq}]).prependTo('#listBody');
						}
					}
				});
			}
			
			// 인풋검색창 엔터검색시
			function enterkey() {
				if (window.event.keyCode == 13) {
					fnSearch();
			    }
			}
			
			// 수정페에지
			function fnUpdateBtn(seq) {
				location.href = '/faq/edit?faqSeq='+seq;
			}
		</script>
	</head>
	<body>
		<form id="searchFrm">
			<div align="center">
				<table>
					<tr>
						<th>검색조건</th>
						<td>
							<label for="faqTitle">제목</label><input type="radio" id="faqTitle" name="searchType" value="faqTitle">
							<label for="faqSeq">번호</label><input type="radio" id="seq" name="searchType" value="faqSeq">
							<label for="faqContent">내용</label><input type="radio" id="faqContent" name="searchType" value="faqContent">
						</td>
						<th>검색어</th>
						<td><input type="text" id="searchBox" name="searchBox">
					</tr>
					<tr>
						<td colspan="4" align="right">
							<button type="button" onclick="fnSearch()">검색</button>
						</td>
					</tr>
				</table>
			</div>
		</form>
		<form id="faqFrm">
			<div id="faqListDiv" align="center">
				<h1>Faq 리스트</h1>
				<table >
					<colgroup>
						<col width="40px">
						<col width="150px">
						<col width="150px">
						<col width="120px">
					</colgroup>
					<thead> 
						<tr>
							<th></th>
							<th>제목</th>
							<th>내용</th>
							<th>날짜</th>
						</tr>
					</thead>
					<tbody id="listBody">
					
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5" align="right">
								<button type="button" onclick="deleteFaq()">삭제</button>
								<button type="button" onclick="faqWrite()">등록하기</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</form>
	</body>
	<script type="text/x-jQuery-tmpl" id="faqListTmpl">
		<tr>
			<td><input type="checkbox" name="faqSeq" value="{{= faqSeq}}"></td>
			<td><a href="/faq/edit?faqSeq={{= faqSeq}}">{{= faqTitle}}</a></td>
			<td>{{= faqContent}}</td>
			<td>{{= faqCreatedt.substring(0,10)}}</td>
		</tr>
	</script>
</html>


