<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>faq수정화면</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
		<script>
			$.fn.serializeObject = function() {
			  "use strict"
			  var result = {}
			  var extend = function(i, element) {
			    var node = result[element.name]
			    if ("undefined" !== typeof node && node !== null) {
			      if ($.isArray(node)) {
			        node.push(element.value)
			      } else {
			        result[element.name] = [node, element.value]
			      }
			    } else {
			      result[element.name] = element.value
			    }
			  }

			  $.each(this.serializeArray(), extend)
			  return result
			}
		
			var idx = 0;
			function fnCnclBtn() {
				location.href = '/faq/list';
			}
		
			function updateFaq() {
				if(confirm('수정하시겠습니까?')) {
					if($('#faqTitle').val() == '') {
						alert('제목을 입력해 주세요');
						$('#faqTitle').focus();
						return;
					}
					
					if($('#faqContent').val() == '') {
						alert('내용을 입력해 주세요');
						$('#faqContent').focus();
						return;
					}
					
					var cnt = $('input[name=faqImg]').length;
					
					var faqImgList = [];
					
					$('.imgIdxClass').each(function(v) {
						$(this).attr('name', 'faqImgList['+v+'].faqImg')
						$(this).attr('id', 'faqImg'+v)
						faqImgList.push({faqImg: $(this).val()});
					})
					
					if(cnt > 0) {
						for(var i = 0; i<=cnt; i++) {
							if($('#faqImg'+i).val() == '') {
								alert('첨부파일'+i+'를 추가해 주세요');
								$('#faqImg'+i).focus();
								return;
							}
						}
					}
					
					var formData = $('#faqFrm').serializeObject();
					
					formData.faqImgList = faqImgList;
					
					var faqSeq = $('#faqSeq').val();
					
					$.ajax({
						url : '/faq/modify',
						type : 'post',
						contentType: 'application/json',
						data : JSON.stringify(formData),
						success : function(res) {
							if(res[1] == 'E') {
								alert(res[0]);
							} else {
								alert(res[0]);
								location.href = '/faq/getDetail?faqSeq='+faqSeq
							}
						},
						
						error(request, status, error) {
							console.log('에러발생');
						}
						
					});
				}
			}
		
			function deleteImg(imgSeq, faqSeq) {
				if(!confirm('삭제하시겠습니까?')) {
					return;
				}
				 
				$.ajax({
					url: '/faq/deleteImg',
					data : {
						'imgSeq' : imgSeq,
						},
					type : 'post',
					success : function(res) {
						alert('삭제되었습니다.');
						location.reload();
					},
					error : function(request, status, error) {
						alert('error발생');
					}
				});
			}
		
			function addRow() {
				idx++;
				var cnt = $('input[name=faqImg]').length+1;
				
				if(cnt > 5) {
					alert('이미지는 최대 5개까지 등록 가능합니다.');
					return;
				} 
				
				$('#addRowTmpl').tmpl([{idx : idx}]).appendTo('#faqImgTable');
			}
			
			function delRow(obj) {
				$(obj).parent().parent().remove();	
			}
			
			function fnDelBtn() {
				var seq = $('#faqSeq').val()
				if(confirm('삭제하시겠습니까?')) {
				
					$.ajax({
						url : '/faq/deleteList',
						data : {'faqSeq' : seq},
						type : 'post',
						success : function(res) {
							alert('삭제되었습니다.');
							location.href = '/faq/list';
						}, 
						error : function() {
							console.log('에러발생');
						}
					});
				}
				
			}
		</script>
	</head>
	<body>
		<div align="center" th:object="${faqVo}">
			<form id="faqFrm">
				<input type="hidden" name="faqDelYn" value="N">
				<input type="hidden" id="faqSeq" name="faqSeq" th:value="*{faqSeq}">
				<table id="faqImgTable">
					<tr>
						<th colspan="2">
							<h1>FAQ수정하기</h1>
						</th>
					</tr>
					<tr>
						<th>게시글 번호</th>
						<td th:text="*{faqSeq}"></td>
					</tr>
					<tr>
						<th>제목</th>
						<td><input type="text" id="faqTitle" name="faqTitle" th:value="*{faqTitle}"></td>
					</tr>
					<tr>
						<th>내용</th>
						<td><input type="text" id="faqContent" name="faqContent" th:value="*{faqContent}"></td>
					</tr>
					<tr>
						<th>등록일시</th>
						<td th:text="*{faqCreatedt.substring(0,10)}"></td>
					</tr>
					<tr>
						<th rowspan="6">첨부파일</th>
						<td><button type="button" onclick="addRow()">+</button></td>
					</tr>
					<tr th:if="*{faqImgList != null && faqImgList.size() > 0}" th:each="faqImgList : *{faqImgList}">
						<td><input type="text" id="faqImg" name="faqImg" th:value="${faqImgList.faqImg}">
							<button type="button" th:onclick="|deleteImg('${faqImgList.imgSeq}','')|">삭제</button>
						</td>
					</tr>
				</table>
				<br>
				<div align="right" style="width:400px;">
					<button type="button" onclick="updateFaq()">수정하기</button>
					<button type="button" onclick="fnDelBtn()">삭제</button>
					<button type="button" onclick="fnCnclBtn()">취소</button>
				</div>
			</form>
		</div>
	</body>
	<script type="text/x-jQuery-tmpl" id="addRowTmpl">
		<tr>
			<td><input type="text" class="imgIdxClass" name="faqImgList[{{= idx}}].faqImg" id="faqImg{{= idx}}">
				<button type="button" onclick="delRow(this)">-</button>
			</td>
		</tr>
	</script>
</html>