<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>faq작성화면</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
		<script>
			$.fn.serializeObject = function() {
			  "use strict"
			  var result = {}
			  var extend = function(i, element) {
			    var node = result[element.name]
			    if ("undefined" !== typeof node && node !== null) {
			      if ($.isArray(node)) {
			        node.push(element.value)
			      } else {
			        result[element.name] = [node, element.value]
			      }
			    } else {
			      result[element.name] = element.value
			    }
			  }

			  $.each(this.serializeArray(), extend)
			  return result
			}
			var idx = 0;
			function faqWrite() {
				
				if(confirm('등록하시겠습니까?')) {
					
					
					
					if($('#faqTitle').val() == '') {
						alert('제목을 입력해 주세요');
						$('#faqTitle').focus();
						return;
					}
					
					if($('#faqContent').val() == '') {
						alert('내용을 입력해 주세요');
						$('#faqContent').focus();
						return;
					}
					
					var cnt = $('input[name=faqImg]').length;
					
					var faqImgList = [];
					
					$('.imgIdxClass').each(function(v) {
						$(this).attr('name', 'faqImgList['+v+'].faqImg')
						$(this).attr('id', 'faqImg'+v)
					})
					
					$('.imgIdxClass').each(function(v) {
						faqImgList.push({faqImg: $(this).val()});
					});
					
					if(cnt > 0) {
						for(var i = 0; i<=cnt; i++) {
							if($('#faqImg'+i).val() == '') {
								alert('첨부파일'+i+'를 추가해 주세요');
								return;
							}
						}
					}
					
					var formData = $('#faqFrm').serializeObject();
					
					formData.faqImgList = faqImgList;
					
					$.ajax({
						url : '/faq/add',
						type : 'post',
						contentType: 'application/json',
						data : JSON.stringify(formData),
						success : function(res) {
							alert('저장 성공');
						}, 
						error : function(request, status, error) {
							alert(request.responseText);
						},
						
					});
				}
			}
			
			function addRow() {
				
				var cnt = $('.imgIdxClass').length+1;
				
				if(cnt > 5) {
					alert('최대 등록가능한 이미지 갯수는 5개 입니다.');
					return;
				}
				
				$('#addRowTmpl').tmpl([{idx : idx}]).appendTo('#insertFaqTable');
				
				// 변수에 값 넣기 샘플
				//$('#sampleData').tmpl([{ sample1: 1, sample2: 2 }]).appendTo('body');
				idx++;
			}
			
			function delRow(obj) {
				$(obj).parent().parent().remove();
			}
			
			function fnCnclBtn() {
				location.href = '/faq/list';
			}
		</script>
	</head>
	<body>
		<div align="center">
			<form id="faqFrm">
				<table id="insertFaqTable">
					<tr>
						<td colspan="2">
							<h1>FAQ등록하기</h1>
						</td>
					</tr>
					<tr>
						<td>제목</td>
						<td><input type="text" id="faqTitle" name="faqTitle"></td>
					</tr>
					<tr>
						<td>내용</td>
						<td><input type="text" id="faqContent" name="faqContent"></td>
					</tr>
					<tr>
						<td rowspan="6">첨부파일</td>
						<td><button type="button" onclick="addRow();">+</button>
						</td>
					</tr>
				</table>
			</form>
			<div>
				<button onclick="faqWrite()">등록하기</button>
				<button onclick="fnCnclBtn()">취소</button>
			</div>
		</div>
	</body>
<!-- {{= sample1}} 변수선언 -->
	<script type="text/x-jQuery-tmpl" id="addRowTmpl">
		<tr>
			<td><input type="text" class="imgIdxClass" id="faqImg{{= idx}}" name="faqImgList[{{= idx}}].faqImg">
				<button type="button" onclick="delRow(this)">-</button>
			</td>
		</tr>
	</script>
</html>