<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<h1>MyBatis DataSource</h1>
</body>
<script>
	$(function(){
		$.ajax({
			type : "get",
			url : "/selectList",
			datatype : "json",
			success : function(res) {
				console.log(res)
			},
			error : function(request, status, error) {
				console.log("에러발생");
			}
		})
	})
</script>
</html>